<launch>
  <include file="$(find turtlebot3_fake)/launch/turtlebot3_fake.launch"/>
  <node
    name="yaw"
    pkg="bb_util"
    type="yaw"
  />
  <node
    name="erm_test"
    pkg="bb_computation"
    type="erm_test"
  />
  <node
    name="erm_status"
    pkg="bb_graphics"
    type="erm_status"
  />
</launch>
