<launch>

  <node
      name="image_mask"
      pkg="bb_improc"
      type="image_mask_node"
  />
  <node
      name="gaussian_blur"
      pkg="bb_improc"
      type="gaussian_blur_node"
  />
  <node
      name="green_channel"
      pkg="bb_improc"
      type="green_channel_node"
  />
  <node
      name="wind_detector"
      pkg="bb_detection"
      type="wind_cue_detector"
  />
  <node
      name="intensity_detector"
      pkg="bb_detection"
      type="intensity_cue_detector"
      args="-m cv -s green_frames -n cv_green_node -v"
  />
  <node
    name="erm_status"
    pkg="bb_graphics"
    type="erm_status"
  />
  <node
    name="cmd_vel_service"
    pkg="bb_locomotion"
    type="cmd_vel_service"
  />
</launch>
