<launch>
  <node
      name="yaw"
      pkg="bb_util"
      type="yaw"
  />
  <node
    name="dummy_cue_intensity"
    pkg="bb_dummy"
    type="dummy_cue"
    args="-a 0 -m 1 -p intensity_cue -t intensity"
  />
  <node
    name="vmcx_status"
    pkg="bb_graphics"
    type="vmcx_status"
  />
</launch>

